/* index page */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
#logo,#slogo {
	display:block;
	animation-name:logocolor;
	animation-duration:30s;
	animation-iteration-count:infinite;
}
@keyframes logocolor{
	5% {filter:hue-rotate(30deg);}
	10% {filter:hue-rotate(60deg);}
	15% {filter:hue-rotate(90deg);}
	20% {filter:hue-rotate(120deg);}
	25% {filter:hue-rotate(150deg);}
	30% {filter:hue-rotate(180deg);}
	35% {filter:hue-rotate(210deg);}
    40% {filter:contrast(2);}
    45% {filter:contrast(1);}
	50% {filter:sepia(1);}
	55% {filter:sepia(0);}
	60% {filter:blur(10px);}
	65% {filter:blur(0px);}
	75% {filter:invert(0.9);}
	80% {filter:invert(0);}
	85% {transform:rotateX(200deg)}
	90% {transform:rotateX(0deg)}
	95% {transform:rotateY(200deg)}
	100% {transform:rotateY(0deg)}
}
html,body,.overlay{
	background-color:#000;
	width:100%;
	height:100%;
	overflow-x:hidden;
	font-family:'Noto Sans KR',sans-serif;
}
a,a:visited{
color:#fff;
text-decoration:none;
}
.container{
	width:70%;
	height:70%;
	margin:40px	auto;
}
.outer{
	display:table;
	height:100%;
	margin:auto;
}
.top{
	display:table-cell;
	vertical-align:middle;
}
.logo{
	opacity:0;
	animation-name:flash;
	animation-duration:5s;
	animation-iteration-count:infinite;
	animation-delay:1s;
}
@keyframes flash{
    5% {opacity:0;}
    10% {opacity:1;}
	11% {opacity:0;}
    12% {opacity:1;}
	13% {opacity:0;}
    14% {opacity:1;}
	15% {opacity:0;}
	14% {opacity:1;}
	20% {opacity:0;}
	21% {opacity:1;}
	22% {opacity:0;}
	25% {opacity:1;}
	50% {opacity:0;}
	55% {opacity:1;}
	56% {opacity:0;}
	57% {opacity:1;}
	60% {opacity:0;}
	66% {opacity:1;}
	70% {opacity:0;}
	71% {opacity:1;}
	75% {opacity:0;}
	78% {opacity:1;}
	79% {opacity:0;}
	85% {opacity:1;}
	90% {opacity:0;}
    100% {opacity:1;}
}
.logo:hover	.overlay{
	opacity:1;
}
.logo,.overlay{
	position:relative;
}
.overlay{
	color:#fff;
	position:absolute;
	display:inline-block;
	padding:1em;
	top:0;
	bottom:0;
	left:0;
	right:0;
	opacity:0;
	transition:.5s ease;
}
.text{
	text-align:center;
	text-shadow:2px	2px	10px #fff;
	font-size:40px;
	transform:translate(-5%,35%);
}
.pre{
	vertical-align:middle;
	text-align:center;
}
/* main page */
.title{
display:inline;
}
#wrapper {
  padding-left:0;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}
#wrapper.toggled {
  padding-left:250px;
}
#sidebar-wrapper {
  z-index:1000;
  position:fixed;
  left:250px;
  width:0;
  height:100%;
  margin-left:-250px;
  overflow-y:auto;
  background:#000;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
  width:250px;
}
#page-content-wrapper {
  width:100%;
  position:absolute;
  padding:15px;
}
#wrapper.toggled #page-content-wrapper {
  position:absolute;
  margin-right:-250px;
}
/* Sidebar Styles */
.sidebar-nav {
  position:absolute;
  width:250px;
  margin:0;
  padding:0;
  list-style:none;
}
.sidebar-nav li {
  text-indent:20px;
  line-height:40px;
}
#ver{
  float:right;
}
.sidebar-nav li a {
  display:block;
  text-decoration:none;
  color:#999999;
}
.sidebar-nav li a:hover {
  text-decoration:none;
  color:#fff;
  background:rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration:none;
}
.sidebar-nav>.sidebar-brand {
  height:65px;
  font-size:18px;
  font-weight:bold;
  line-height:60px;
}
.sidebar-nav>.sidebar-brand a {
  color:#999999;
}
.sidebar-nav>.sidebar-brand a:hover {
  color:#fff;
  background:none;
}
@media(min-width :886px ){
  #wrapper {
    padding-left:0;
  }
  #wrapper.toggled {
    padding-left:250px;
  }
  #sidebar-wrapper {
    width:0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width:250px;
  }
  #page-content-wrapper {
    padding:20px;
    position:relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position:relative;
    margin-right:0;
  }
}
