/*index*/
a,a:visited,a:link,a:hover,a:active{color:#666;text-decoration:none}
.font{font-family:'Nanum Gothic', sans-serif}
.fw{font-weight:bold}
#slogo{animation-name:logocolor;animation-duration:60s;animation-iteration-count:infinite}
.logo{opacity:0;animation-name:flash;animation-duration:5s;animation-iteration-count:infinite;animation-delay:1s}
@keyframes logocolor{
	5%{filter:hue-rotate(0deg)}
	10%{filter:hue-rotate(60deg)}
	15%{filter:hue-rotate(90deg)}
	20%{filter:hue-rotate(120deg)}
	25%{filter:hue-rotate(150deg)}
	30%{filter:hue-rotate(180deg)}
	35%{filter:hue-rotate(0deg)}
	40%{filter:contrast(2)}
	45%{filter:contrast(1)}
	50%{filter:sepia(1)}
	55%{filter:sepia(0)}
	60%{filter:blur(10px)}
	65%{filter:blur(0px)}
	75%{filter:invert(0.6)}
	80%{filter:invert(0)}
	85%{filter:invert(0.9)}
	90%{filter:invert(0)}
	95%{filter:hue-rotate(300deg)}
	100%{filter:hue-rotate(0deg)}}
@keyframes flash{
	5%{opacity:0}
	10%{opacity:1}
	11%{opacity:0}
	12%{opacity:1}
	13%{opacity:0}
	14%{opacity:1}
	15%{opacity:0}
	14%{opacity:1}
	20%{opacity:0}
	21%{opacity:1}
	22%{opacity:0}
	25%{opacity:1}
	50%{opacity:0}
	55%{opacity:1}
	56%{opacity:0}
	57%{opacity:1}
	60%{opacity:0}
	66%{opacity:1}
	70%{opacity:0}
	71%{opacity:1}
	75%{opacity:0}
	78%{opacity:1}
	79%{opacity:0}
	85%{opacity:1}
	90%{opacity:0}
	100%{opacity:1}}
/*mainframe*/
#contents{width:100%;height:calc(100% - 34px);position:absolute}
.content{width:100%;height:100%;position:absolute}
.footer{
	font-weight:bold;
	position:absolute;
	bottom:0px;
	width:100%;
	text-decoration:none;
	padding:0 2%}
.ver{float:right;color:#333}
/*t-doll */
.dollcontainer{width:calc(12.5%);min-width:200px}
.tdoll{position:relative;margin:0 auto;width:175px;height:371px}
.no{
	position:absolute;
	bottom:0;
	width:40px;
	z-index:3;
	margin-left:131px;
	top:341px;
	font-size:1.25em;
	font-weight:bold}
.name{position:absolute;z-index:3;font-weight:bold}
.podo{width:171px;margin-top:300px}
.poeq{width:175px;margin-top:175px}
.pofa{width:175px;margin-top:195px}
.f125{font-size:1.25em}
.f115{font-size:1.15em}
.type{position:absolute;margin-left:3px;margin-top:3px;z-index:2}
.star{position:absolute;margin-top:5px;z-index:2;width:1.25em}
.r1{margin-left:150px}
.r2{margin-left:135px}
.r3{margin-left:120px}
.r4{margin-left:105px}
.r5{margin-left:90px}
.incage{position:absolute;z-index:1;left:0}
.icon{margin-top:20px}
.tag{display:none}
.equip{position:relative;margin:0 auto;width:175px;height:326px}
.bg{margin-top:24px}
.er2{color:#CCC;text-shadow:0px 0px 1px #ccc}
.er3{color:#6BDFCE;text-shadow:0px 0px 1px #6BDFCE}
.er4{color:#D6E35A;text-shadow:0px 0px 1px #D6E35A}
.er5{color:#FFCD4A;text-shadow:0px 0px 1px #FFCD4A}
.icon2{position:absolute;z-index:0;left:2px;width:171px;top:12px}
.etype{position:absolute;z-index:2;left:23px;top:9px}
.ftype{position:absolute;z-index:2;left:0}
.fairy{position:relative;margin:0 auto;width:175px;height:300px}
.icon3{position:absolute;z-index:0;left:0px}
.cover{right:3px;position:absolute}
.skill{position:absolute;z-index:2;left:0}