/*index*/
.font {
font-family: 'Nanum Gothic', sans-serif;
}
.indexbody,.overlay{
	background-color:#000;
}
a,a:visited,a:link,a:hover,a:active{
	color:#666;
	text-decoration:none;
}
#logo,#slogo{
	animation-name:logocolor;
	animation-duration:60s;
	animation-iteration-count:infinite;
}
.logo{
	opacity:0;
	animation-name:flash;
	animation-duration:5s;
	animation-iteration-count:infinite;
	animation-delay:1s;
}
@keyframes logocolor{
5%{
filter:hue-rotate(0deg);
}
10%{
filter:hue-rotate(60deg);
}
15%{
filter:hue-rotate(90deg);
}
20%{
filter:hue-rotate(120deg);
}
25%{
filter:hue-rotate(150deg);
}
30%{
filter:hue-rotate(180deg);
}
35%{
filter:hue-rotate(0deg);
}
40%{
filter:contrast(2);
}
45%{
filter:contrast(1);
}
50%{
filter:sepia(1);
}
55%{
filter:sepia(0);
}
60%{
filter:blur(10px);
}
65%{
filter:blur(0px);
}
75%{
filter:invert(0.6);
}
80%{
filter:invert(0);
}
85%{
filter:invert(0.9);
}
90%{
filter:invert(0);
}
95%{
filter:hue-rotate(300deg);
}
100%{
filter:hue-rotate(0deg);
}
}
@keyframes flash{
5%{
opacity:0;
}
10%{
opacity:1;
}
11%{
opacity:0;
}
12%{
opacity:1;
}
13%{
opacity:0;
}
14%{
opacity:1;
}
15%{
opacity:0;
}
14%{
opacity:1;
}
20%{
opacity:0;
}
21%{
opacity:1;
}
22%{
opacity:0;
}
25%{
opacity:1;
}
50%{
opacity:0;
}
55%{
opacity:1;
}
56%{
opacity:0;
}
57%{
opacity:1;
}
60%{
opacity:0;
}
66%{
opacity:1;
}
70%{
opacity:0;
}
71%{
opacity:1;
}
75%{
opacity:0;
}
78%{
opacity:1;
}
79%{
opacity:0;
}
85%{
opacity:1;
}
90%{
opacity:0;
}
100%{
opacity:1;
}
}
/*mainframe*/
#contents{
	width:100%;
	height:calc(100% - 54.5px);
	position:absolute;
	border-top-style:groove;
}
.footer{
	font-weight:bold;
	position:absolute;
	bottom:0px;
	width:100%;
	text-decoration:none;
	padding:0 2%
}
.ver{
	float:right;
	color:#333;
}
/*t-doll */
.tdoll{
position:relative;margin:0 auto;width:256px;height:456px;background-image:url(img/etc/info_bg1.png)
}
.no{
position:absolute;bottom:0;width:66px;z-index:4;;margin-left:193px;top:409px;font-size:220%
}
.name{
position:absolute;margin-left:2px;margin-top:353px;z-index:4;text-align:left;font-weight:bold
}
.f250{
font-size:250%;
}
.f240{
font-size:250%;
}
/*t-doll end*/
/*media*/
@media (max-width:600px){
.w3-light-grey{
	display:none;
}
#slogo{
	display:none;
}
}
/*media end*/