/*index*/
.indexbody, .overlay {
	background-color: #000;
}
#logo, #slogo {
	animation-name: logocolor;
	animation-duration: 60s;
	animation-iteration-count: infinite;
}
.logo {
	opacity: 0;
	animation-name: flash;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-delay: 1s;
}
@keyframes flash {
5% {
opacity:0;
}
10% {
opacity:1;
}
11% {
opacity:0;
}
12% {
opacity:1;
}
13% {
opacity:0;
}
14% {
opacity:1;
}
15% {
opacity:0;
}
14% {
opacity:1;
}
20% {
opacity:0;
}
21% {
opacity:1;
}
22% {
opacity:0;
}
25% {
opacity:1;
}
50% {
opacity:0;
}
55% {
opacity:1;
}
56% {
opacity:0;
}
57% {
opacity:1;
}
60% {
opacity:0;
}
66% {
opacity:1;
}
70% {
opacity:0;
}
71% {
opacity:1;
}
75% {
opacity:0;
}
78% {
opacity:1;
}
79% {
opacity:0;
}
85% {
opacity:1;
}
90% {
opacity:0;
}
100% {
opacity:1;
}
}
/*mainframe*/
/* Sidebar Styles */
#input {
	margin: 1% auto;
	display: block;
}

/*topbar*/
@media (max-width:600px) {
.w3-light-grey {
	display: none;
}
#slogo {
	display: none;
}
}
#contents{
	width: 100%;
	height: calc(100% - 54.5px);
	position: absolute;
	border-top-style: groove;
}
a, a:visited, a:link, a:hover, a:active {
	color: #666;
	text-decoration: none;
}/* main	page */
.ver {
	float: right;
	color: #333;
}
.themesettings {
	color: #999;
}
.row {
	margin: 0px !important;
	text-align: center;
}
.row #00f {
	background-color: #000;
	color: #fff;
}
.row #fff {
	background-color: #fff;
	color: #000;
}
.footer {
	font-weight: bold;
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-decoration: none;
}
.footer a:hover {
	color: #fff
}
.card-text {
	float: left
}
.gunname {
	float: right
}
.card-img-top {
	height: 100%;
	width: 100%;
	display: block;
}
.ccg {
	height: 50%;
}
