.sliderm{position:relative;margin:0 auto;top:0;left:0;width:600px;height:160px;overflow:hidden;visibility:hidden}.double-tail-spin,.slidedesc{position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,.7)}.slidedesc{top:120px;width:600px;height:40px;background-color:rgba(0,0,0,.5);font-size:22px;font-weight:600;color:#fff;line-height:1.75}
<style>
	/*slider loading skin double-tail-spin css*/
	.double-tail-spin img {
		animation-name: double-tail-spin;
		animation-duration: 1.6s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
	@keyframes jssorl-004-double-tail-spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
	/*jssor slider bullet skin 032 css*/
	.jssorb032 {
		position: absolute;
	}
	.jssorb032 .i {
		position: absolute;
		cursor: pointer;
	}
	.jssorb032 .i .b {
		fill: #fff;
		fill-opacity: 0.7;
		stroke: #000;
		stroke-width: 1200;
		stroke-miterlimit: 10;
		stroke-opacity: 0.25;
	}
	.jssorb032 .i:hover .b {
		fill: #000;
		fill-opacity: .6;
		stroke: #fff;
		stroke-opacity: .35;
	}
	.jssorb032 .iav .b {
		fill: #000;
		fill-opacity: 1;
		stroke: #fff;
		stroke-opacity: .35;
	}
	.jssorb032 .i.idn {
		opacity: .3;
	}
	/*jssor slider arrow skin 111 css*/
	.jssora111 {
		display: block;
		position: absolute;
		cursor: pointer;
	}
	.jssora111 .a {
		fill: #ddd;
		fill-opacity: .7;
		stroke: #000;
		stroke-width: 160;
		stroke-miterlimit: 10;
		stroke-opacity: .7;
	}
	.jssora111:hover {
		opacity: .8;
	}
	.jssora111.jssora111dn {
		opacity: .4;
	}
	.jssora111.jssora111ds {
		opacity: .3;
		pointer-events: none;
	}
</style>