[submodule "gf-spine-simulator"]
	path = gf-spine-simulator
	url = https://github.com/SFDB-Team/gf-spine-simulator
[submodule "gf-bingo-calculator"]
	path = gf-bingo-calculator
	url = https://github.com/SFDB-Team/gf-bingo-calculator
